<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <h1>Welcome to the Services Page</h1>
    <div>
        <ul>
            <li>We offer accurate analysis of any film you are intrigued in</li>
            <li>We also offer accurate comparison of fictional characters</li>
            <li>We also offer prodution services</li>
        </ul>
    </div>
</body>
</html>